{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h1>REGISTRO DE EMPLEADO</h1>
	</div>
	<div>
    	{% for flash_message in app.session.flashBag.get('success') %}
                {{ flash_message | upper }}
        {% endfor %}
	</div>
	{#<div>
	    {% for flash_message in app.session.flashBag.get('error') %}
                {{ flash_message | upper }}
        {% endfor %}
	</div>#}
	<div>
    	{% if form is defined %}
            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
         	{{ form_end(form,{'attr': {'novalidate': 'novalidate'}}) }}
         {% endif %}
	</div>
{% endblock %}